/*
          COLORS
*/
:root {
  --negro-cool: #272727;
  --gris: #747474;
  --amarillo-top: #FFE400;
  --naranja-fuerte: rgb(250, 122, 75);
  --verde-musgo: rgb(66, 184, 137);
  --blanco-huevo: #F5F5F5;
}

/*
          HEADER
*/

.header-area .main-menu,
.header-area .main-menu .dropdown-menu {
  background: var(--blanco-huevo);
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}
.navbar .dropdown-menu{
  position: absolute;
}
.header-area .main-menu .navbar{
  height: 70px;
  background-color: var(--verde-musgo);
}
.header-area .main-menu .navbar .navbar-nav{
  flex-direction: inherit;
}
.header-area .main-menu .navbar .nav-link{
  font-size: 18px;
  padding: 8px;
}
.header-area .main-menu .navbar .nav-link:hover{
  font-weight: 600;
  }

/*
        MAIN-INFO
*/
.main-info{
  position: relative;
  z-index: 1;
  padding-bottom: 42px;
  margin-bottom: 58px;
}
.main-info .container{
  border-radius: 10px;
  position: relative;
  bottom: -30px;
  background: var(--naranja-fuerte);
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 7px 12px 12px 0px rgb(153, 153, 153);
}
.main-info .container .row .img-col .img-container > img{
  width: 70%;
  height: 70%;
}
.main-info .container .txt-col .text-container{
  margin: 20px auto 0 20px;
  width: 70%;
}
.main-info .container .txt-col .text-container h4{
  font-size: 20px;
}
.main-info .container .txt-col .text-container p{
  font-size: 15px;
}